.contact-container{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background:linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
    .contact-us-container{
        background: rgba(255, 255, 255, .9);
        width: 80%;
        margin: 2% auto;
        padding: 50px;
    }
    .columns{
        display: flex;
            flex-direction: column;
    }
    .row{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    }
    .relative{
        position: relative;
    }
    .absolute{
        position: absolute;
    }
    .top-50{
        top: -80px;
    }
    .left-aside ul{
        margin-left: 20px;
        list-style: none;
    }
    .left-aside h3{
        position: relative;
        padding-top: 5px;
        padding-left: 10px;
        color: rgb(121, 121, 228);
    }
    .left-aside p{
        padding-bottom: 20px;
        border-left: 1px dashed #444;
        margin-left: -16px;
        padding-left: 30px !important;
    }
    .left-aside h3::before{
        content: "";
        width:10px;
        height:10px;
        background: palevioletred;
        left: -20px;
        bottom: 5px;
        position: absolute;
        border-radius: 50%;
    }
    .right-0{
        right: 100px;
    }
    .left-0{
        left: 100px;
    }
.contact{
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) ;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    background: #FFF;
    border-radius: 50px;
    width: 50%;
    padding: 50px;
    margin: 20px auto;
}
.contact label{
    color: #f8f8f8;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.left-aside{
    background: #FFF;
    padding: 0 50px;
    width: 45%;
}
    .row-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }
    .h3{
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .form-row{
        display: flex;
    }
    .form-column{
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 5px;

    }
    .form-group{
        margin: 10px 0;
    }
    .form-group label{
        position: relative;
    }
    .form-group span{
        color: red;
        font-size: 20px;
        position: absolute;
        top: 2px;
        right: -8px;
    }
    .form-control{
        /* margin: 20px 10px; */
        padding: 15px!important;
        font-size: 14px;
        border-radius: 6px;
        background: #FFF;
        border:none;
        outline: none;
        width:100%;
        border: 1px solid #E1E6ED;
        margin:5px 0;
    }

 .textarea{
    padding: 10px 0;
    width: 80%;
    border: 1px solid #E1E6ED;
 }

.input-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F7FAFF;
    margin: 20px 0;
    padding: 0 10px;
    border-radius: 5px;
}
.submit-btn{
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    padding: 10px 30px;
    color: #FFF;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
   }
   .submit-btn:hover{
    background: green;
   }
   @media screen and (max-width:768px) {
    .major{
        width: 100vw;
    }
        .contact-us-container{
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            margin: 0;

            justify-content: center;
            align-items: center;
            width: 100vw;
        }
        .major  p{
                width: 100%;
            }


            .major .contact{
            width: 90%;
            margin: 20px auto;
            padding: 0;
            }
            .row-center{
                width: 100%;
            }
            .contact-form{
                width: 100%;
            }
               .submit-btn{
                width: 100%;
               }

        .columns{
            width: 90vw;
        }

   .form-row{
    flex-direction: column;
   }
}
